html {
    background-color: #111111;
    font: 32px/16px "Roboto", Helvetica, sans-serif;
    color: white;
}

body {
    padding: 3em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2em;
}

.letter-box {
    margin-right: 0.1em;
    padding: 0.25em 0.1em 0 0.1em;
    background-color: #222222;
    border-bottom: 1px solid darkslategrey;
    width: 0.9em;
    height: 0.9em;
    text-align: center;
    vertical-align: baseline;
}

#reset {
    background-color: rgb(102, 1, 102);
    padding: 0.5em;
    border: 1px solid rgb(102, 1, 102);
    border-radius: 0.25em;
    color: white;
    box-shadow: 2px 2px rgb(73, 3, 73);
}

#reset:hover {
    background-color: rgb(122, 6, 122);
    color: rgb(254, 255, 182);
}

#reset:active {
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: 1px 1px rgb(73, 3, 73);
}

.guesses {
    font: 16px/8px "Roboto", Helvetica, sans-serif;
    margin-bottom: 2em;
}